<div class="slide-margin1">
  <h1 class="heading-style"> Representative Publications </h1>
    <% @publications.each do |publication| %>
      <!-- <h1><%= publication.year.strftime("%Y")%> publications</h1><br> -->
      <div class="publication-title">
        <br>
        <%= publication.title %>
      </div>
        <!-- <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    <% end %>
    <h2 class="heading-style"> Link to full list of publications on pubmed </h2>
    <% @publications.each do |publication| %>
      <br>
      <%= link_to publication.publink, publication.publink , target: "blank",class:"publication-link" %><br>
    <% end %>
    <br>
    <br>
    <br>

  <%= link_to 'New Publication', new_publication_path %>
</div>
